/*Author:   YorkLu      */
/*Date:     2016-04-27  */

/*自托管 Google Web Fonts*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: #ababab; }

/*静态页样式*/
@media (min-width: 751px) {
    html, body {
        max-width: 750px;
        font-size: 30px;
        margin: 0 auto;
    }
}

html, body {
    margin: 0 auto;
    overflow-x: hidden;
    background: #f6f6f6;
}

.header {
    width: 100%;
    height: auto;
    /*解决图片无法占满高度的问题*/
    font-size: 0;
}

.header img {
    width: 100%;
}

.titleImg {
    background: url(../images/titleImg.jpeg) center center;
    background-size: cover;
    position: relative;
}

.titleArea{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72pt;
    background-image:-webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.73));
    background-image:linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.73));
}

.titleText{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 8px 16px;
    font-size: 17px;
    color: white;
}

.activityInfo{
    background: white;
    padding: 2px 12px;
}

.activityInfo p{
    margin: 10px 0;
    color: #444444;
    font-size: 15px;
}

.activityInfo p i{
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.activityInfo hr{
    border: none;
    border-top: 1px solid #dbdbdb;
    margin: 0;
}

.mainText{
    background: white;
    padding: 12px 16px;
    margin: 8px 0 0 0;
}

.mainText p{
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    text-indent: 32px;
}

.mainText img+p{
    margin-top: 8px;
}

.mainText p+p{
    margin-top: 8px;
}

.mainText p+img{
    margin-top: 8px;
}

.footer {
    text-align: center;
    border: 1px solid #26A3EC;
    color: #26A3EC;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.footer a {
    text-decoration: none;
    color: #26A3EC;
}