/* 编码: 陆扬         */
/* 更新: 2016-05-13  */
/* g-	全局通用样式命名,一旦修改将影响全站样式 */
/* m-	模块命名方式 */
/* ui-	组件命名方式 */
/* js-	所有用于纯交互的命名，不涉及任何样式规则 */

/* 自托管 Google Web Fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: #ababab;
}

/* 自托管 Google Web Fonts 结束 */

/* 静态页样式 */
html, body {
    margin: 0 auto;
    overflow-x: hidden;
    background: #f6f6f6;
}

body{
    /*padding-bottom: 44px;*/
    /* 本来应该是44,为了隐藏站长之家统计代码带来的小图标,改为目前的值 */
    padding-bottom: 22px;
}

/* 顶部 applink */
.m-header {
    width: 100%;
    height: auto;
    /*解决图片无法占满高度的问题*/
    font-size: 0;
    margin: 0 auto;
}

.m-header img {
    width: 100%;
}

/* 标题和标题图 */
.m-title {
    background: url(../images/pic_title.jpg) center center;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
}

.m-title .title-over {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73));
}

.m-title .title-text {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 8px 16px;
    color: white;
    line-height: 120%;
}

/* 信息列表 */
.m-infolist {
    background: white;
    padding: 2px 12px;
    margin: 0 auto;
}

.m-infolist p {
    margin: 10px 0;
}

.m-infolist p i {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.m-infolist hr {
    border: none;
    border-top: 1px solid #dbdbdb;
    margin: 0;
}

/* 正文内容与排版 */
.m-content {
    background: white;
    padding: 12px 16px;
    margin: 8px auto 0;
}

.m-content p {
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    text-indent: 32px;
}

.m-content img {
    width: 100%;
    height: auto;
}

.m-content .swipebox {
    display: block;
}

.m-content a + p {
    margin-top: 8px;
}

.m-content p + p {
    margin-top: 8px;
}

.m-content p + a {
    margin-top: 8px;
}

.m-content a + a {
    margin-top: 8px;
}

/* 评论列表 */
.m-comments {
    background: white;
    padding: 0 0 8px;
    margin: 8px auto 0;
    overflow: auto;
}

.m-comments .comments-item{
    padding: 12px 12px 8px;
    overflow: auto;
}

.m-comments .comments-item+.comments-item{
    /* 相邻两个评论之间用分隔线隔开 */
    border-top: 1px solid #dbdbdb;
}

.m-comments .comments-item .user-avatar{
    float: left;
    width: 28pt;
    height: 28pt;
    border-radius: 28pt;
}


.m-comments .comments-item .user-info {
    float: left;
    margin-left: 8px;
}

.m-comments .comments-item .user-info .user-name{
    padding: 0;
    margin: 0;
    line-height: 14pt;
}

.m-comments .comments-item .user-info .comment-time{
    padding: 0;
    margin: 0;
    line-height: 14pt;
}

.m-comments .comments-item .comment-content{
    padding: 0;
    margin: 36pt 0 0;
}

.m-comments .comments-item .comment-content p{
    padding: 0;
    margin: 0;
}

/* 静态页中评论图片宽度占满 */
.m-comments .comments-item .comment-content img{
    width: 100%;
    height: auto;
    margin-top: 8px;
}

/* 占位图 */
.m-comments .comment-empty{
    width: 60%;
    height: auto;
    margin: 20px 20%;
}

/* 底栏 */
.m-footer {
    position: fixed;
    height: 44px;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .12), 0 4px 4px rgba(0, 0, 0, .24);;
}

.m-footer .footer-applink {
    float: left;
}

.m-footer .footer-applink-icon {
    float: left;
    width: 36px;
    height: auto;
    margin: 4px 12px;
}

.m-footer .footer-applink-text {
    float: left;
    line-height: 44px;
    padding: 0;
    margin: 0;
}

.m-footer a {
    float: right;
}

.m-footer .icon-qzone{
    margin-right: 12px;
}

/* PC端 */
@media (min-width: 751px) {
    .m-header, .m-title, .m-footer,.m-comments{
        max-width: 750px;
    }

    /* 左右 padding 16px */
    .m-content {
        max-width: 718px;
    }

    /* 左右 padding 12px */
    .m-infolist {
        max-width: 726px;
    }

    .m-footer {
        left: calc(50% - 375px);
    }
}

/* 模态框背景 */
.m-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 2;
    display: none;
    opacity: .4;
}

/* 模态框 */
.ui-modal {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 2px;
    background: #ffffff;
    text-align: center;
    z-index: 3;
}

/* 微信提示 */
.weixin-applink,.weixin-share {
    top: 10px;
    display: none;
}

.weixin-applink p,.weixin-share p {
    margin: 10px auto 10px;;
}

/* 滚动条狗带吧! :) */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgba(240, 240, 240, 0)
}

/* 静态页样式 结束 */

/* UI颜色规范 文字部分 */
/* 主题蓝色 */
.g-text-blue {
    color: #26A3EC;
}

/* 绿色 */
.g-text-green {
    color: #8BC34A;
}

/* 黄色 */
.g-text-yellow {
    color: #FFD450;
}

/* 橙色 */
.g-text-orange {
    color: #FF7A3F;
}

/* 红色 */
.g-text-red {
    color: #FF4E63;
}

/* 一号黑色 */
.g-text-black-1 {
    color: #222222;
}

/* 二号黑色 */
.g-text-black-2 {
    color: #444444;
}

/* 三号黑色 */
.g-text-black-3 {
    color: #686868;
}

/* 四号黑色 */
.g-text-black-4 {
    color: #929292;
}

/* 新闻标题 */
.g-text-h1 {
    font-size: 19px;
}

/* 图册标题 */
.g-text-h2 {
    font-size: 18px;
}

/* 普通标题 */
.g-text-h3 {
    font-size: 17px;
}

/* 新闻摘要 */
.g-text-l {
    font-size: 16px;
}

/* 普通正文 */
.g-text-m {
    font-size: 15px;
}

/* 标签,脚注1 */
.g-text-s {
    font-size: 12px;
}

/* 脚注2 */
.g-text-xs {
    font-size: 11px;
}

/* UI 颜色规范 文字部分 结束 */